{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}Followers{% endblock %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/followers_app.js" %}"></script>
{% endblock %}

{% block body_base %}

<section>
    <div class="container">
		<p class="lead">{% trans "My Followers" %}:</p>
		{% for user in followers %}
			<b>ID: </b>{{user.user.id}}<br>
			<a href="/follow_test/user_profile/?user_id={{user.user.id}}"><b>{{user.user.first_name}} {{user.user.last_name}} </b></a><br>
			<b>Username: </b>{{user.user.username}}<br><hr>
		{% empty %}
			<p>{% trans "nobody follows you" %}</p>
		{% endfor %}       
    </div>
</section>

<section class="jumbotron">
    <div class="container">
        <p class="lead">{% trans "Available users" %}:</p><br>
        {% load user_list %}
        {% users_list %}
    </div>
</section>

{% endblock %}