{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}Profile{% endblock %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/followers_app.js" %}"></script>
{% endblock %}

{% block body_base %}
<section>
    <div class="container">
		
		<p class="lead">{% trans "Home" %}:</p>
		{% for uprofile in uprofile %}
			<b>Text: </b>{{uprofile.text}}<br>
			<b>Date: </b>{{uprofile.date}}<br><hr>
		{% empty %}
			<p>{% trans "nothing to show" %}</p>
		{% endfor %}       
    </div>
</section>

<section class="jumbotron">
    <div class="container">
        <p class="lead">{% trans "Available users" %}:</p><br>
        {% load user_list %}
        {% users_list %}
    </div>
</section>
{% endblock %}